@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    list-style-type: none;
    border: 0;
    outline: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

a {
    color: unset;
}

body {
    font-size: 42.5%;
    overflow-x: hidden;
}

.btn {
    padding: 0.6rem 1.2rem;
    font-weight: 500;
    font-size: 01rem;
    border-radius: 10rem;
    cursor: pointer;
}

.d-flex {
    display: flex;
    align-items: center;
}
#red-pointer{
    color: red;
    font-size: 1.3rem;
}

.header-details {
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 3rem;
}

.logo-1 {
    width: 5rem;
}

.logo-1-container {
    margin: 0 1rem;
    border-right: 1px solid black;
}

.logo-2 {
    width: 4rem;
}

.brand-name {
    align-items: flex-start;
    flex-direction: column;
    margin: 0 1rem;
}

.department-name {
    font-size: 1.7rem;
    font-weight: 500;
}

.address {
    font-size: 1.1rem;
}

.contacts-container {
    flex-direction: column;
    align-items: flex-end;
    gap: 0.8rem;
    margin: 1rem 2rem;
}

.contacts {
    gap: 1.5rem;
}

.contacts span {
    gap: 0.2rem;
    font-size: 1.12rem;
}

.mobile-menu {
    position: absolute;
    right: 6rem;
}

.mobile-menu-icon {
    display: none;
    font-size: 2.1rem;
    cursor: pointer;
}

.social-media-links {
    font-size: 1.7rem;
    gap: 1rem;
    cursor: pointer;
}

/*=============================================================== header ==================================== */
.header {
    justify-content: center;
    padding: 0 5rem;
    height: 4.5rem;
    background-color: #359381;
    position: relative;
}

.navbar {
    gap: 1rem;
}

.navbar li {
    position: relative;
}

.navbar>li>a {
    color: #fff;
    font-size: 1.1rem;
    padding: 0.4rem 0.8rem;
    border-radius: 10rem;
    gap: 7px;
}

.nav-links:hover>a, .nav-links .active {
    color: #359381 !important;
    background-color: #fff;
}

#mobile-close-icon {
    display: none;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    margin: 1.5rem;
}

/*=========================================================== drop-down menu ========================  */
.drop-down-icon {
    font-size: 0.9rem;
}

.drop-down-menu {
    display: none;
}

.nav-links:hover .drop-down-menu {
    display: block;
    position: absolute;
    left: 0.7rem;
    width: max-content;
    padding: 2rem;
    color: #fff;
    background-color: #359382da;
    z-index: 99999;
}

.drop-down-nav-link {
    margin-top: 0.6rem;
    font-size: 1.1rem;
}
/*=================================================== header Registeration button =======================  */

.header .register-btn {
    position: absolute;
    right: 5rem;
    background-color: #fff;
}

.register-btn:hover {
    transform: scale(1.01);
}

/*===================================================== main content =======================================  */

main section {
    min-height: 100vh;
    padding: 1rem 5rem;
}

.main-Container {
    overflow-x: hidden;
}

/*======================================================= image scroll =====================================  */
.scroll-image {
    object-fit: cover;
}

.image-scroll-container {
    position: relative;
    width: 100%;
}

.images-container {
    transition: 0.02s;
    z-index: 9999;
}

.images-container img {
    width: 100vw;
}

.image-scroll-arrow {
    position: absolute;
    color: #fff;
    font-size: 3rem;
    cursor: pointer;
    z-index: 999999;
}

#image-scroll-arrow-left {
    left: 0;
}

#image-scroll-arrow-right {
    right: 0;
}

/*=============================================================== sections ============================== */
.section-title {
    font-size: 1.7rem;
    color: #308474;
    margin: 1rem 0;
}

section ul li {
    list-style-type: disc;
}

.about-us-content, .about-nccbs-content {
    font-size: 1rem;
    word-spacing: 1.5px;
    line-height: 1.9rem;
}

.about-us-content p, .about-nccbs-content p {
    margin: 1.4rem 0;
}

section .register-btn {
    background-color: #359381;
    color: #fff;
    margin: 1rem 0;
    border-radius: 0;
    padding: 1rem 2rem;
}
/*======================================================= upcoming Events ===================================== */
.upcoming-events-container {
    margin-bottom: 3rem 0;
}

.upcoming-events-container h2 {
    margin: 2rem 0;
    font-size: 1.4rem;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
}

.upcoming-event {
    background-color: #fff;
    width: 60%;
    justify-content: space-between;
    padding: 1rem 2rem;
    margin: 1rem 0;
    border: 2px solid #359381;
    border-radius: 1rem;
}

.upcoming-event .event-title {
    font-size: 1.2rem;
    font-weight: 700;
}

.upcoming-event .event-date {
    font-size: 0.9rem;
    font-weight: 500;
}

.upcoming-event .know-more-link {
    font-size: 1rem;
    font-weight: 600;
}

.upcoming-event .know-more-link:hover {
    border-bottom: 2px solid black;
}

.about-nccbs-section {
    gap: 5rem;
    align-items: flex-start;
    padding-top: 3rem;
}
.about-nccbs-section  h3{
    margin: 1.5rem 0;
}

.about-nccbs-data-container {
    flex: 3;
}
  /*================================================== call for abstract ============================== */
.boxed-paragraph{
    border: 1px solid black;
    padding: 1rem;
    font-weight: 500;
    background-color: #359381;
    color: #fff;
}
.dates-section p{
    line-height: 4rem;
}

/* ======================================================= side-menu ===============================  */
.about-section-side-menu {
    flex: 1;
    width: fit-content;
    height: 60vh;
    background-color: #308474;
    color: #fff;
}

.about-section-side-menu h2 {
    font-size: 1.2rem;
    margin: 1rem;
    text-align: center;
}

.about-section-side-menu ul {
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    padding: 0 1rem;
}

.about-section-side-menu ul li {
    width: 90%;
    padding: 0.3rem 0;
    margin: 0.4rem;
    border-bottom: 1px solid #fff;
    list-style-type: none;

}
/*===================================================== contact page =================================  */
.contact-phone{
    font-weight: 500;
    margin-left: 1rem;
}
.contact-email{
    font-weight: 500;

}
/*====================================================== committee ===================================  */
.committee-content .sub-heading ,.sub-heading{
    color: #499e8e;
    font-size: 1.1rem;
    padding: 0.2rem;
    border-bottom: 2px solid #499e8e;
    width: fit-content;
    font-weight: 600;
}

.committee-content ul {
    margin: 2rem 1rem;
}

.committee-content ul li {
    list-style-type: disc;
    margin: 0.7rem 0;
    padding: 0.3rem 0;
    border-bottom: 2px dotted #308475a2;
}

.committee-content li span {
    font-weight: 600;
    font-size: 1.05rem;
}
/*===================================================== programme section ================================  */
.drop-down-section{
    position: relative;
 }
 .programme-drop-btn{
    position: absolute;
    top: 0;
    left: 0;
    color: #359381;
    font-weight: 600;
    font-size: 1.15rem;
    border-bottom: 1px solid #359381;
    cursor:text;
    user-select: none;
    
}
select{
    cursor: pointer;
    width: 100%;
    height: 2rem;
    padding: 0.2rem;
    margin: 0.7rem 0;
}

select option{
    color: #fff;
    font-size: 0.95rem;
    font-weight: 400;
    background-color: #2b9783cb;
 }

/*=========================================================Footer ========================================= */
.footer-wrapper {
    position: absolute;
    left: 0;
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 3rem 5rem;
    background-color: #359381;
}

.footer-section {

    align-items: flex-start;
    flex-direction: column;
    flex-basis: 25%;
    gap: 0.5rem;
}

.footer-links-section {
    flex-basis: 13%;
}

.footer-section .title {
    font-size: 1.1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.89);
    width: fit-content;
    border-bottom: 3px solid #fff;
    margin-bottom: 1rem;
}

.footer-section span {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.89);
}

.footer-highlight {
    font-weight: 500;
    font-size: 1.15rem !important;
}

/*================================================ medai queries ==================================== */
@media screen and (min-width:1500px) {
    :root {
        font-size: 1.3rem;
    }

    body {
        height: fit-content;
    }

    .footer-wrapper {
        height: 21rem;
    }
}

@media screen and (max-width:1440px) {
    :root {
        font-size: 0.8rem;
    }
}

@media screen and (max-width:1200px) {
    :root {
        font-size: 0.62rem;
    }
}

@media screen and (max-width:1000px) {


    .header-details {
        flex-direction: column;
    }

    .footer-wrapper {
        flex-direction: column;
    }

    .header {
        display: none;
        position: absolute;
        right: 0px;
        top: 0px;
        padding: 5rem 4rem;
        height: 70vh;
        align-items: flex-start;
        width: fit-content;
        z-index: 9999999;
    }

    .mobile-menu-icon {
        display: block;
    }

    .navbar {
        align-items: flex-start;
        flex-direction: column;
    }

    #mobile-close-icon {
        display: block;
    }

    .nav-links:hover .drop-down-menu {
        padding: 1rem;
        background-color: #359381;
        position: absolute;
        left: -115px;
        top: 0px;
        border: 1px solid #fff;
    }

    .drop-down-nav-link {
        margin-top: 0.6rem;
        font-size: 1.1rem;
    }

    .header .register-btn {
        top: 58vh;
        right: 4rem;
    }

    .upcoming-event {
        border: 1px solid #359381;
    }

    .images-container img {
        height: 300px;
    }
    .about-nccbs-section{
        flex-direction: column;
    }
    .about-section-side-menu{
        padding: 2rem 6rem 2rem 2rem;
    }
}

@media screen and (max-width:500px) {

    .logos-container {
        flex-direction: column;
    }

    .logo-1 {
        width: 5rem;
        margin-right: 0.5rem;
    }

    .logo-2 {
        width: 4rem;
        margin-left: 0.4rem;
    }

    .brand-name {
        align-items: center;
    }

    .department-name {
        font-size: 1.5rem;
        margin-top: 1rem;
    }

    .address {
        font-size: 1.2rem;
        font-weight: 500;
    }

    .mobile-menu-icon {
        position: absolute;
        right: -4rem;
    }

    .upcoming-event {
        width: 100%;
    }

    .committee-content li span {
        display: block;
    }

    .footer-map iframe {
        width: 110%;
    }

    .contacts-container {
        margin: 1rem auto;
    }

    .contacts {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

}

@media screen and (max-width:420px) {

    .department-name {
        font-size: 1.3rem;
        font-weight: 700;
        margin-top: 1rem;
    }
.address{
    font-size: 1rem;
}
    .mobile-menu-icon {
        position: absolute;
        right: -5rem;
    }

    .header-details {
        align-items: center;
        padding: 1rem 0rem;
    }

    main section {
        padding: 1rem 2rem;
    }

    .footer-wrapper {
        padding: 3rem 4rem 3rem 2rem;
    }
}


 