@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    list-style-type: none;
    border: 0;
    outline: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    font-size: 62.5%;
    overflow-x: hidden !important;
}

main {
    overflow-x: hidden;
}

a {
    color: unset;
}

sup {
    text-transform: lowercase;
}

.d-flex {
    display: flex;
    align-items: center;
}

#red-pointer {
    color: red;
    font-size: 1.3rem;
}

.btn {
    padding: 0.6rem 1.2rem;
    font-weight: 500;
    font-size: 0.9rem;
    border-radius: 10rem;
    cursor: pointer;
}

/*============================================================== header ========================= */
.header-information-bar {
    width: 100%;
    font-size: 0.85rem;
    font-weight: 600;
    padding: 0.5rem 5rem;
    letter-spacing: 0.2px;
    word-spacing: 2px;
    color: #fff;
    background: linear-gradient(to right, rgb(160, 104, 177), rgb(137, 185, 233));
    justify-content: space-between;
}

.header-information-bar .register-btn {
    font-size: 0.8rem;
    padding: 0.3rem 0.8rem;
    background-color: #fff;
}

.register-btn:hover {
    transform: scale(1.01);
}

.header-details {
    justify-content: center;
    gap: 3rem;
    padding: 0.2rem 0 1.2rem;
    width: 100%;
    text-transform: uppercase;
    background: url(./Images/Asset-4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.header-logo-1 {
    width: 7.2rem;
}

.header-logo-2 {
    width: 5.5rem;
}

.header-details-data {
    flex-direction: column;
    gap: 0.4rem;
    color: rgb(51, 50, 50);
    text-align: center;
}

.header-details-data h1 {
    font-size: 1.9rem;
    text-shadow: 1px 1px #fff;
}

.header-details-data h3 {
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
}

.header-event-address span {
    text-align: center;
    font-weight: 600;
    padding: 0.5rem 0.6rem;
    font-size: 0.8rem;
    letter-spacing: 0.4px;
    background-color: rgba(146, 97, 179, 0.953);
    color: #fff;
}

.header-event-address .header-event-date {
    background-color: rgba(46, 13, 68, 0.853);
}

/*============================================================ navbar ======================================  */

nav>ul {
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem;
    font-size: 0.85rem;
    font-weight: 500;
    background-color: #d6c8ff;
    gap: 1rem;
}

nav ul li {
    position: relative;
}

nav ul a {
    padding: 0.3rem 0.5rem;
    border-radius: 10rem;
}

nav ul li:hover a, nav ul li .active {
    background-color: #fff;
    color: #000;
}

.mobile-menu-drop-down {
    display: none;
}

/*=========================================================== drop-down menu ========================  */

.drop-down-menu {
    display: none;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 1.5rem;
    background-color: #d6c8ff;
    padding: 1rem;
}

.nav-links:hover .drop-down-menu {
    display: block;
    width: max-content;
    color: #fff;
    z-index: 99999;
}

.drop-down-nav-link {
    font-size: 0.8rem;
    padding: 0.4rem;
}


/*======================================================= image scroll =====================================  */
.images-container img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

@keyframes fade {
    from {
        opacity: 0.7
    }

    to {
        opacity: 1
    }
}

/*=============================================================== sections ============================== */
.section {
    padding: 1rem 12rem;
    text-align: justify;
    font-size: 0.9rem;
    word-spacing: 1.5px;
    line-height: 1.9rem;
}

.section-title {
    font-size: 1.3rem;
    color: rgb(160, 104, 177);
    margin: 1rem 0;
    border-bottom: 1px solid rgb(160, 104, 177);
}

section ul li {
    list-style-type: disc;
}

.section p {
    margin: 1.4rem 0;
}

section .register-btn {
    background-color: rgb(160, 104, 177);
    color: #fff;
    margin: 1rem 0;
    border-radius: 0;
    padding: 1rem 2rem;
}

section .register-btn:hover {
    transform: scale(1.01);
}

/* .about-us-section {
    display: flex;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center;
} */

/*====================================================== Key speakers ===================================  */
.about-section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.key-speakers-container {
    overflow: hidden;
    padding: 0.3rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.29);
}

.key-speakers-wrapper {
    height: 21.5rem;
    padding: 0 0.4rem;
    animation: scrollUpDown 20s linear 3s infinite;
}

.key-speakers-wrapper:hover{
    animation-play-state: paused;
}

@keyframes scrollUpDown {
    0% {
        transform: translateY(0px);
    }

    5% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(-7.4rem);
    }

    40% {
        transform: translateY(-14.7rem);
    }

    60% {
        transform: translateY(-20.9em);
    }

    80% {
        transform: translateY(-24.6rem);
    }

    100% {
        transform: translateY(-32.2rem);
    }

}

.key-speakers {
    width: fit-content;
    height: fit-content;
}

.key-speakers h2 {
    color: rgb(160, 104, 177);
    border-bottom: 1px solid rgb(206, 156, 221);
    margin: 1rem 0;
    padding-bottom: 0.3rem;
    /* border-radius: 25px; */
}

.key-speaker {
    width: 19rem;
    height: 6.8rem;
    display: flex;
    margin: 0.4rem 0;
    border: 1px solid black;
    box-shadow: 3px 1px 10px rgba(0, 0, 0, 0.29);
    /* border-radius: 25px; */
}

.speaker-img {
    flex: 3.4;
    width: 4.5rem;
    height: 100%;
    /* background-color: red; */
    border-right: 1px solid black;
    
}

.speaker-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.speaker-detail {
    flex: 7;
    height: 100%;
    padding: 0.4rem 0.5rem;
    background: rgba(229, 155, 253, 0.904);
    /* border-radius: 25px; */
}

.speaker-detail h4 {
    margin: 0.3rem 0 0rem 0;
    line-height: 1rem;
    font-size: 0.85rem;
}

.speaker-detail p {
    font-size: 0.71rem;
    margin: 0.5rem 0;
    padding: 0;
    line-height: 0.9rem;
}

/*====================================================== committee ===================================  */
.committee-content .sub-heading, .sub-heading {
    color: rgb(160, 104, 177);
    font-size: 1rem;
    padding: 0.2rem;
    border-bottom: 2px solid rgb(160, 104, 177);
    width: fit-content;
    font-weight: 600;
}

.committee-content ul {
    margin: 2rem 1rem;
}

.committee-content ul li {
    list-style-type: disc;
    margin: 0.7rem 0;
    padding: 0.3rem 0;
    border-bottom: 2px dotted rgb(160, 104, 177);
}

.committee-content li span {
    font-weight: 600;
    font-size: 0.92rem;
}

/*======================================================= upcoming Events ===================================== */
.upcoming-events-container {
    margin-bottom: 3rem 0;
}

.upcoming-events-container h2 {
    margin: 2rem 0;
    font-size: 1.4rem;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
}

.upcoming-event {
    background-color: #fff;
    width: 60%;
    justify-content: space-between;
    padding: 1rem 2rem;
    margin: 1rem 0;
    border: 2px solid rgb(160, 104, 177);
    border-radius: 1rem;
}

.upcoming-event .event-title {
    font-size: 1.2rem;
    font-weight: 700;
}

.upcoming-event .event-date {
    font-size: 0.9rem;
    font-weight: 500;
}

.upcoming-event .know-more-link {
    font-size: 1rem;
    font-weight: 600;
}

.upcoming-event .know-more-link:hover {
    border-bottom: 2px solid black;
}

.about-nccbs-section {
    gap: 5rem;
    align-items: flex-start;
    padding-top: 3rem;
}

.about-nccbs-section h3 {
    margin: 1.5rem 0;
}

.about-nccbs-data-container {
    flex: 3;
}

.programme-section li span {
    font-weight: 600;

}

/* ======================================================= side-menu ===============================  */

.about-section-side-menu {
    flex: 1;
    width: 20rem;
    padding: 1rem;
    background-color: rgb(160, 104, 177);
    color: #fff;
}

.about-section-side-menu h2 {
    font-size: 1.1rem;
    margin: 1rem;
    text-align: center;
}

.about-section-side-menu ul {
    display: flex;
    flex-direction: column;
    font-size: 0.95rem;
    padding: 0 1rem;
}

.about-section-side-menu ul li {
    width: 100%;
    padding: 0.3rem 0;
    margin: 0.4rem;
    border-bottom: 1px solid #fff;
    list-style-type: none;

}

/*================================================== Sponsorships ============================== */
.sponsorship-section {
    gap: 3rem;
}

.mcl-logo {
    width: 20rem;
}

.indian-oil-logo {
    width: 7rem;
}

/*================================================== call for abstract ============================== */
.boxed-paragraph {
    border: 1px solid black;
    padding: 1rem;
    font-weight: 500;
    background-color: rgb(160, 104, 177);
    color: #fff;
}

.publication-image-container {
    justify-content: center;
    width: 70vw;
}

.dates-section p {
    line-height: 4rem;
}

.img-text {
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.publication {
    display: flex;
    height: 13rem;
    width: 15rem;
    margin: 0 50px;
    object-fit: cover;
}




/*===================================================== contact page =================================  */
.contact-phone {
    font-weight: 500;
    margin-left: 1rem;
}

.contact-email {
    font-weight: 500;

}

/*=========================================================Footer ========================================= */

.footer-wrapper {
    position: absolute;
    left: 0;
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 3rem 5rem;
    color: #000;
    background: linear-gradient(to right, rgb(160, 104, 177), rgb(137, 185, 233));
    ;
}

.footer-section {

    align-items: flex-start;
    flex-direction: column;
    flex-basis: 25%;
    gap: 0.5rem;
}

.footer-links-section {
    flex-basis: 13%;
    padding-top: 3rem;
}

.footer-section .title {
    font-size: 1rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.89);
    width: fit-content;
    border-bottom: 3px solid #000;
    margin-bottom: 1rem;
}

.footer-section span {
    font-size: 0.9rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.89);
}

.footer-highlight {
    font-weight: 500;
    font-size: 0.95rem !important;
}

.copyright-section {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    font-size: 0.6rem;
    padding: 0.4rem;
    background-color: rgb(4, 50, 97);
}

/*================================================ medai queries ==================================== */
@media screen and (min-width:1500px) {
    :root {
        font-size: 1.6rem;
    }

    body {
        height: fit-content;
    }

    .footer-wrapper {
        height: 21rem;
    }
}


@media screen and (max-width:1200px) {
    :root {
        font-size: 0.78rem;
    }

    .publication {
        height: 10rem;
        width: 12rem;
    }
}

@media screen and (max-width:1000px) {

    .footer-wrapper {
        flex-direction: column;
    }

    .header-details {
        justify-content: center;
        gap: 2rem;
        padding: 0.2rem 0 1rem;
    }

    #navbar {
        flex-direction: column;
    }

    nav>ul {
        flex-direction: column-reverse;
        gap: 0.5rem;
        padding: 0;
        height: 3rem;
        background-color: rgb(160, 104, 177);
        overflow: hidden;
    }

    nav .open-drop-down {
        height: fit-content;
        padding: 1rem 0;
    }

    nav ul li {
        color: #fff;
        background-color: rgb(160, 104, 177);
        text-align: center;
        margin: 0.2rem 0;
        position: relative;
        width: 100%;
    }

    .mobile-menu-drop-down {
        display: block;
        position: absolute;
        right: 2rem;
        top: 0;
        padding-right: 2rem;
        font-size: 0.8rem;
        color: #fff;
        margin: 0 2rem;
    }

    .active {
        background: unset;
    }

    .about-nccbs-data-container {
        width: 75vw;
        margin: 0 -4rem;
    }

    .publication {
        height: 8rem;
        width: 9rem;
    }

    .nav-links:hover .drop-down-menu {
        background-color: rgb(160, 104, 177);
        padding: 1rem 0.2rem;
        gap: 1rem;
        border: 1px solid #fff;
    }

    .drop-down-menu {
        display: none;
        position: absolute;
        top: 0rem;
        left: 1rem;
        height: max-content;
        background-color: rgb(160, 104, 177);
    }

    .upcoming-event {
        border: 1px solid rgb(160, 104, 177);
    }

    .images-container img {
        height: 300px;
    }

    .about-nccbs-section {
        flex-direction: column;
    }

    .about-section-side-menu {
        padding: 2rem 6rem 2rem 2rem;
    }


}

@media screen and (max-width:620px) {
    .header-information-bar {
        padding: 0.5rem 2rem;
        align-items: flex-start;
    }

    .header-details {
        display: grid;
        gap: 1rem;
        place-items: center;
    }

    .header-logo-1 {
        grid-column-start: 1;
        grid-column-end: 2;
        margin-left: 6rem;
    }

    .header-logo-2 {
        grid-column-start: 2;
        grid-column-end: 3;
        margin-right: 7rem;
    }

    .header-details-data {
        grid-area: footer;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .section {
        padding: 1rem 4rem
    }

    .about-nccbs-data-container {
        width: 75vw;
        margin: 0 2rem;
    }

    .publication {
        height: 16rem;
        width: 18rem;
    }

    .publication-image-container {
        flex-direction: column;
    }

}


@media screen and (max-width:480px) {
    .header-information-bar {
        flex-direction: column;
        padding: 0.5rem 2rem;
        align-items: flex-start;
    }

    .department-name {
        font-size: 1.4rem;
        font-weight: 700;
        margin-top: 1rem;
    }

    .address {
        font-size: 1.1rem;
    }

    .mobile-menu-icon {
        position: absolute;
        right: -5rem;
    }

    .header-details {
        align-items: center;
        padding: 1rem 0rem;
    }

    main section {
        padding: 1rem 2rem;
    }

    .footer-wrapper {
        padding: 3rem 4rem 3rem 2rem;
    }

    .footer-map iframe {
        width: 90vw;
    }

    .programme-section {
        padding: 0 2rem;
    }
}

@media screen and (max-width:480px) {

    .header-details {
        justify-content: center;
        gap: 3rem;
        padding: 0.2rem 0 1.2rem;
        width: 100%;
        text-transform: uppercase;
        background: url(./Images/Asset-4.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
    }

    .header-logo-1 {
        width: 7.2rem;
        margin-left: 6rem;
        margin-top: 1rem;
    }

    .header-logo-2 {
        width: 5.5rem;
        margin-left: -3rem;
        margin-top: 1rem;
    }

    .header-details-data {
        flex-direction: column;
        gap: 0.4rem;
        color: rgb(51, 50, 50);
        text-align: center;
    }

    .header-details-data h1 {
        font-size: 1.6rem;
        text-shadow: 1px 1px #fff;
        margin-top: -3rem;
    }

    .header-details-data h3 {
        font-size: 1.3rem;
        margin-bottom: 0.3rem;
    }

    .header-event-address span {
        text-align: center;
        font-weight: 600;
        padding: 0.5rem 0.6rem;
        font-size: 0.7rem;
        letter-spacing: 0.4px;
        background-color: rgba(146, 97, 179, 0.953);
        color: #fff;
    }

    .header-event-address .header-event-date {
        background-color: rgba(46, 13, 68, 0.853);
    }

    .drop-down-menu {
        top: 1.6rem;
    }

    .section {
        padding: 1rem 2rem;
    }

    .about-nccbs-data-container {
        width: 100vw;
        margin: 0 -2rem;
        padding: 2rem;
    }

    .section-title span {
        display: block;
    }

    .publication {
        object-fit: contain;
    }

    .publication-image-container {
        flex-direction: column;
    }

}